<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.achristians.asgn4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cat-ering"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.achristians.recipe_app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.achristians.recipe_app.EditScreen"
            android:parentActivityName="com.example.achristians.recipe_app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.achristians.recipe_app.MainActivity" />
        </activity>
        <activity
            android:name="com.example.achristians.recipe_app.ViewScreen"
            android:parentActivityName="com.example.achristians.recipe_app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.achristians.recipe_app.MainActivity" />
        </activity>
        <!--<activity-->
            <!--android:name="com.example.achristians.recipe_app.EditScreen"-->
            <!--android:parentActivityName="com.example.achristians.recipe_app.ViewScreen" >-->
            <!--<meta-data-->
                <!--android:name="android.support.PARENT_ACTIVITY"-->
                <!--android:value="com.example.achristians.recipe_app.ViewScreen" />-->
        <!--</activity>-->


    </application>

</manifest>